
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Do Hyeon', sans-serif;
}
.container {
    margin: 0 auto;
    width: 90vw;
    height: 100vh;
    background-image: url(https://il6.picdn.net/shutterstock/videos/5211821/thumb/1.jpg);
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calendario-retro {
    width: 600px;
    height: 500px;
    border: 3px solid black;
}
/* .top-calendar,
.main-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */
.btn-navigation {
     padding: 5px 20px;
     border-radius: 5px;
     background-color: purple;
     color: white;
     border: none;
     cursor: pointer;
}

.btn-navigation:disabled{
     background-color: #efefef;
     cursor: not-allowed;
}
#calendar li,
#nome-mese {
    text-transform: capitalize;
}
.festivo  {
    color: red;
}
